<a href="https://colab.research.google.com/github/vulnerability-research/Utils/blob/main/mozilla_metrics_to_arff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install arff
import arff
import pandas as pd

Requirement already satisfied: arff in /usr/local/lib/python3.7/dist-packages (0.9)

In [ ]:
df = pd.read_csv('mozilla-metrics.csv')
df = df.drop(['file', 'crashes'], axis=1)
df

       CountClassBase  CountClassCoupled  ...  MaxNesting  severity
0                  16                  0  ...           0         0
1                   3                  4  ...           3         0
2                  71                  0  ...           0         0
3                   0                  2  ...           1         0
4                   9                  0  ...           0         0
...               ...                ...  ...         ...       ...
28745               0                  0  ...           0         0
28746              67                  0  ...           0         0
28747               2                  5  ...           8         0
28748              44                  0  ...           0         0
28749               0                  4  ...           5         0

[28750 rows x 12 columns]

In [ ]:
arff.dump('mozilla-metrics.arff'
      , df.values
      , relation='mozilla'
      , names=df.columns)